<!DOCTYPE html>
<html lang="en">
	<%- include('../commonSections/head') %>

	<body>
		<%- include('../commonSections/navbar') %>

		<div class="max-w-screen-2xl mx-auto py-24">
			

			<%- include('../platform/platform-hero') %> 
			<%- include('../platform/platform-description') %> 
			<%- include('../platform/platform-overview') %> 
			<%- include('../platform/platform-install-guide') %> 
			<%- include('../platform/platform-feature') %> 

			<%- include('../commonSections/chat-with-us') %> 
			<%- include('../commonSections/get-in-touch') %> 
			<%- include('../commonSections/newsletter-subscription') %> 
			<%- include('../commonSections/footer') %>
		</div>
	</body>

	<script src="/js/commonUtils.js"></script>
</html>
