<!DOCTYPE html>
<html lang="en">
	<%- include('./commonSections/head') %>

	<body>
		<%- include('./commonSections/navbar') %>

		<div class="max-w-screen-2xl mx-auto py-24">
			<div class="flex justify-between items-center py-12 md:px-40 mb-12">
				<div class="icon-nav_container selected">
					<div class="image-container">
						<img src="/images/icon-line-chart-up-baseGreen.svg" alt="" />
					</div>
					<h6>About iLimits</h6>
				</div>
				<div class="icon-nav_container">
					<div class="image-container">
						<img src="/images/bar-chart-square-up-green.svg" alt="" />
					</div>
					<h6>Trading with iLimits</h6>
				</div>
				<div class="icon-nav_container">
					<div class="image-container">
						<img src="/images/icon-globe-baseGreen.svg" alt="" />
					</div>
					<h6>iLimits Invest Limited</h6>
				</div>
				<div class="icon-nav_container">
					<div class="image-container">
						<img src="/images/icon-line-chart-up-baseGreen.svg" alt="" />
					</div>
					<h6>Milestone</h6>
				</div>
			</div>

			<div id="about-ilimits" class="reveal-with fade-down article-container md:narrow">
				<div class="article">
					<h3>Who We Are</h3>
					<p>
						iLimits Invest’s mission is to create online trading solutions that are both efficient
						and quick. We offer a suite of innovative trading tools and meet strict financial
						standards to ensure our traders are protected.<br /><br />iLimits is a team of dynamic,
						seasoned, and talented financial professionals offering a variety of financial services
						to an ever-growing base of clientele around the world.<br /><br />iLimits was
						established in 2011, and has built a distinguished track record for providing high
						quality service and delivering impeccable results for its clients.<br /><br />We are a
						full-service financial trading firm providing superior advisory, brokerage and
						investment management services globally with strong foundations in the Middle East &
						Asia.<br /><br />Our main goal is simple: We want to help you maximize your return and
						minimize your risks.
					</p>
					<div class="image-container">
						<img src="/images/handshake.webp" alt="" />
					</div>
				</div>

				<div class="article">
					<h3>What We Do</h3>
					<p>
						At iLimits Invest, we provide exceptional liquidity, services and technology to traders
						who wish to tap into global financial markets.Founded in 2011, we provide unmitigated
						online trading experiences for traders across the globe. This includes providing tools
						and pricing they need to survive in the current financial market.<br /><br />As global
						leaders in Forex trading and currency exchange, we provide online solution to
						individuals and institutions that can take advantage of current trends in the market.
						Besides professional traders, we also cater to banks, hedge funds and portfolio managers
						among others.<br /><br />In other words, when you work with us, you have access to the
						global foreign exchange market for a holistic trading experience. By working with us you
						can locate potential trading opportunities. We started iLimits to provide a unique
						trading experience that can allow users to trade in the market around the clock.<br /><br />This
						easy access has allowed us to expand our influence and provide users the tools and
						resources they need to expand their portfolios. With services ranging from price alerts
						and strategic analysis to automated trading and easy withdrawals, trader experience is a
						priority for us. So whether you are a novice or a veteran trader, you can always benefit
						by creating an account with iLimits Invest.<br /><br />
					</p>
				</div>

				<div class="article">
					<h3>What We Provide</h3>
					<p>
						The group services cover currencies, commodities, derivatives and stock indices (CFD’s
						and cryptos). We are committed to continuously offer value-added services to ensure
						clients maximize financial returns using our state-of-the-art technology and risk
						management tools.<br /><br />We offer a selection of account types, trading platforms
						and tools so that clients can select a tailored trading experience that suits their
						needs. This is supported with superior trading conditions, exceptional execution, and
						all the tools and services needed for clients to realize their trading ambitions.
					</p>
				</div>

				<div class="article">
					<h3>Our Mission</h3>
					<p>
						iLimits mission is to work in partnership and harmony with all stakeholders & clients
						alike to ensure that the investment objectives are completely met through maximizing
						returns and minimizing risks. This is achieved by a team of dedicated and trustworthy
						employees, providing responsive, professional, and personalized service to a base of
						well-informed and educated clients.
					</p>
				</div>

				<div class="article">
					<h3>Our Vision</h3>
					<p>
						iLimits aims to become a Global Financial Services leader through continuous growth and
						expansion, by introducing new financial, investment products & services to investors
						around the world, and to play a solid role in the development of financial and economic
						sectors.
					</p>
				</div>

				<div class="article">
					<h3>Our Values</h3>
					<ul>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								Commitment to our Clients, as they are considered as our family whom we care and
								serve thereby, they are at the heart of our work.
							</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								Our reputation is paramount and we always strive to maintain, and act with a sense
								of responsibility and urgency.
							</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								Respect for all parties and cultures around the world paralleled with full respect
								for colleagues, partners, and clients at all times.
							</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								Honesty, openness, transparency are the keys to success in any business. We strive
								to communicate in a clear and open manner.
							</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>We aim to continuously improve and provide better products and services.</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								Teamwork and responsibility, we follow the one for all and all for one approach.
								Working for the good of the team and taking responsibility for all actions we decide
								to take.
							</p>
						</li>
					</ul>
				</div>

				<div class="article">
					<h3>Corporate Culture and Values</h3>
					<p>
						iLimits Invest is dedicated in maintaining public trust and confidence by maintaining
						fair and honest trading practices. Notwithstanding our promise to provide streamlined
						trading experience to our traders, we also place legal compliance above profits. This
						includes maintaining regulations and adhering to applicable laws.<br /><br />
						We realize that the company’s reputation hinges on integrity, public trust and the
						confidence we command, owing to our clear-cut and reliable services. We honor our
						commitments, and we are always blunt in what we can and cannot deliver. We believe
						honesty is the best way to protect investor’s interests. Our company’s history of
						success has been achieved by providing a reliable, fast and valuable trading
						environment.
					</p>
				</div>
			</div>

			<div
				id="trading-with-ilimits"
				class="reveal-with hidden inactive fade-down article-container md:narrow">
				<div class="article">
					<h3>Our Vision</h3>
					<div class="image-container">
						<img
							src="/images/business-man-showing-profitable-stock-market-holographic-technology-graphs 1.webp"
							alt="" />
					</div>
					<ul>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							Regulated and licensed by several governing bodies
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							Unique and creative financial solutions that exceed clients’ expectations.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							Trading coverage for a broad range of metals, options, equities, currencies and
							hydrocarbons.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							Aggregated primary liquidity providers that aims to be the tightest spreads in the
							market.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>Multi-lingual 24/5 customer support
							team who handles all your business enquiries.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							Strict adherence to ethical and confidentiality Trading and Investment standards.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>Continuous research for financial
							opportunities using state-of-the-art financial engineering measures to develop highly
							rewarding financial products.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>An individualized approach to the
							clients’ trading needs, by providing unique and tailored financial services.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>A highly motivated and dedicated team
							who follows the best practices in adopting sophisticated trading and investment
							techniques.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>Solid and efficient IT infrastructure
							that meets the Global Financial Market demands.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>We provide a wide array of financial
							instruments; whereby you can choose to trade your familiar financial instruments.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>Securing clients data accounts is our
							top priority.
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>Various account types that cater to
							your trading needs; ranging from Demo account to MAM, PAMM, Islamic and regular
							trading accounts.
						</li>
					</ul>
				</div>
			</div>

			<div
				id="iLimits Invest Limited"
				class="reveal-with hidden inactive fade-down article-container md:narrow">
				<div class="article">
					<h3>iLimits Invest Limited</h3>
					<div class="image-container">
						<img src="/images/dubai-night-city-skyline 1.webp" alt="" />
					</div>
				</div>
				<div class="article">
					<h3>iLimits Group</h3>
					<p>
						iLimits Group was established in 2011, with subsidiaries around the world in the Middle
						East, and Asia.
					</p>
					<ul>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								iLimits Invest: Our New Zealand based entity, established in 2011, registered under
								FSPR in New Zealand with the aim of creating the ultimate multi-asset trading
								platforms.
							</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								iLimits Kuwait: Our Kuwait based entity, established in 2017, with the main
								objective to support iLimits Invest Limited activities.
							</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>
								iLimits Growth Beyond Limits: Our Lebanon based entity, established in 2009, with
								the core aim to act as our technology backbone and support for our multiple trading
								platforms, liquidity providers and execution venues.
							</p>
						</li>
					</ul>
				</div>
				<div class="article">
					<h3>A Platform without Limits!</h3>
				</div>
				<div class="article">
					<h3>
						We have multiple offices located across the globe to serve the needs of all countries
						and regions. This includes:
					</h3>
					<ul>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>MENA Region – focusing mainly on the GCC countries.</p>
						</li>
						<li>
							<i class="checkbox-icon icon-md bg-primary"></i>
							<p>Asia – with major emphasis on Indonesia, Vietnam, and the Far East.</p>
						</li>
					</ul>
				</div>
			</div>

			<div id="milestone" class="reveal-with hidden inactive fade-down article-container md:narrow">
				<div class="article">
					<h3>Milestones & History</h3>
					<div class="image-container">
						<img src="/images/achievement-business-goal-success-concept 1.webp" alt="" />
					</div>
				</div>
				<div class="article">
					<p class="text-center">
						iLimits is a team of dynamic, seasoned and talented financial professionals experts
						offering a variety of financial services to an ever-growing and global client base. We
						have built a distinguished track record by providing high-quality services and
						delivering impeccable results to our clients even in dire times.<br /><br />
						Our goal is simple: Maximize client returns, while minimizing the risks.<br /><br />
						iLimits has evolved into a leading Financial Trading Group providing integrated
						investment opportunities to a growing number of satisfied clients.
					</p>
				</div>
				<div class="flex flex-col items-center gap-4 mt-16 mb-8">
					<hr class="w-20 h-2 mx-auto bg-primary" />
					<p class="font-semibold text-info">SCROLL THROUGH OUR LIVES</p>
				</div>
				<div class="timeline-container left">
					<div class="timeline left">
						<h3 class="year">2009</h3>
						<h3>iLimits Established</h3>
						<p>
							Since its inception, iLimits technologies has been the back bone providing
							technological support for our multiple trading platforms including the maintenance of
							robust bridges with multinational liquidity providers and execution venues.
						</p>
					</div>
					<div class="image-container">
						<img src="/images/2009-milestone.webp" alt="" />
					</div>
				</div>
				<div class="timeline-container right">
					<div class="timeline right">
						<h3 class="year">2011</h3>
						<h3>iLimits Invest Ltd</h3>
						<p>
							Limits Invest Ltd 3319810 is a subsidiary of iLimits. Registered under FSPR and
							incorporated in New Zealand, the company mainly engages in brokerage services
							including custodial services as well as trading financial products on behalf of other
							persons. Also, it is dedicated to creating the ultimate online trading experience on
							world-class, multi-asset trading platforms.
						</p>
					</div>
					<div class="image-container">
						<img src="/images/2011-milestone.webp" alt="" />
					</div>
				</div>
				<div class="timeline-container left">
					<div class="timeline left">
						<h3 class="year">2015</h3>
						<h3>Hitting the 10,000 Mark</h3>
						<p>
							iLimits received a major boost in the number of clients; exceeding 10,000 individual
							and institutional investors in less than 4 years. Hence, we know we were on the right
							track to flourish and succeed and therefore, we put our all into our work
						</p>
					</div>
					<div class="image-container">
						<img src="/images/2015-milestone.webp" alt="" />
					</div>
				</div>
				<div class="timeline-container right">
					<div class="timeline right">
						<h3 class="year">2017</h3>
						<h3>iLimits Kuwait</h3>
						<p>
							A new member to the group with the main objective to support iLimits global activities
							and promoting DMCC Investment Solutions.
						</p>
					</div>
					<div class="image-container">
						<img src="/images/2017-milestone.webp" alt="" />
					</div>
				</div>
				<div class="timeline-container left">
					<div class="timeline left">
						<h3 class="year">2020</h3>
						<h3>We are Bigger</h3>
						<p>
							The number of employees exceeded 60. Our dedicated, highly experienced and engaged
							employees continuously provide assistance and support all our clients (Retail &
							Institutional) to ensure maximizing profits and also decreasing risks.
						</p>
					</div>
					<div class="image-container">
						<img src="/images/2020-milestone.webp" alt="" />
					</div>
				</div>
				<div class="timeline-container right">
					<div class="timeline right">
						<h3 class="year">2022</h3>
						<h3>A Platform without Limits</h3>
						<p>
							We are proud to announce that we are operating via multiple offices across the globe
							as we cater to the needs of all countries and regions. Currently, iLimits has happy
							and trusting clients in countries from the following regions:
						</p>
						<ul>
							<li>
								<i class="checkbox-icon icon-md bg-primary"></i>
								<p>MENA Region – with emphasis on the GCC countries.</p>
							</li>
							<li>
								<i class="checkbox-icon icon-md bg-primary"></i>
								<p>Asia – with major emphasis on Indonesia, Vietnam, and the Far Eastern region.</p>
							</li>
						</ul>
					</div>
					<div class="image-container">
						<img src="/images/2022-milestone.webp" alt="" />
					</div>
				</div>
			</div>

			<%- include('./commonSections/chat-with-us') %> <%- include('./commonSections/get-in-touch')
			%> <%- include('./commonSections/newsletter-subscription') %> <%-
			include('./commonSections/footer') %>
		</div>
	</body>

	<script src="/js/commonUtils.js"></script>
	<script>
		const iconNavContainer = document.querySelectorAll(".icon-nav_container");
		const articleContainer = document.querySelectorAll(".article-container");
		var reveals = document.querySelectorAll(".reveal-with");

		function resetReveal() {
			reveals.forEach((reveal) => {
				reveal.classList.remove("active");
				reveal.classList.add("inactive");
				reveal.classList.add("hidden");
			});

			iconNavContainer.forEach((item) => {
				item.classList.remove("selected");
			});
		}

		function handleChangeContent(index) {
			resetReveal();
			reveals[index].classList.remove("inactive");
			reveals[index].classList.remove("hidden");
			reveals[index].classList.add("active");
			iconNavContainer[index].classList.add("selected");
		}

		iconNavContainer.forEach((item, index) => {
			item.addEventListener("click", () => handleChangeContent(index));
		});
	</script>
</html>
